$color--black: #000;
$color--white: #fff;
$color--silver: #ccc;

$color--mine-shaft: #333333;
$color--mine-shaft--transparent: rgba(51, 51, 51, 0.70);
$color--salt-box: #6A676B;
$color--bombay: #B1B1B2;
$color--gravel: #575458;
$color--bermuda-gray: #7887A5;
$color--bermuda-gray--transparent: rgba(120, 135, 165, 0.74);
$color--black-haze: #ECEDED;
$color--abbey : #555759;
$color--tundora: #4C4042;