.inquiry {
  position: fixed;
  bottom: 0;
  height: 100px;
  background: $color--white;
  width: 100%;
  z-index: 3;
  @include media-breakpoint-up(xl) {
    padding-left: 200px;
    padding-right: 200px;
  }
  label {
    @include fontStack('Proxima Nova', 500, 18, 35, 200);
    color: $color--mine-shaft;
    text-transform: uppercase;
    margin: 0;
  }
  .has-datepicker {
    label {
      position:relative;
      &::after {
        content: "";
        background-image: url(../img/icons/date.svg);
        height: 15px;
        width: 15px;
        position: absolute;
        right: 5px;
        bottom: 10px;
      }
    }

    input {
      width: 120px;
      height: 25px;
      margin-left: 10px;
    }
  }
  select {
    margin-left: 10px;
  }
}

// INQUIRY FULLPAGE

.inquiry-fullpage {
  .has-datepicker {
    position:relative;

    &::after {
      content: "";
      background-image: url(../img/icons/date-v2.svg);
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
      position: absolute;
      right: 20px;
      bottom: 18px;
    }
  }


  .has-bg {
    background: $color--black-haze;
    padding: 50px;
    @include media-breakpoint-up(lg) {
      padding: 100px;
    }
    @include media-breakpoint-up(xl) {
      padding: 150px;
    }
  }
  input, input::placeholder, select, textarea, textarea::placeholder, option {
    color: $color--tundora;
    text-transform: none;
    background: $color--white;
    padding: 20px 30px;
    //font-family: Montserrat;
    letter-spacing: 0;
    //font-size: 1rem;
    font-weight: 300;
    line-height: 27px;
    min-height: 80px;
  }
  select {
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  label {
    padding: 0;
    transition: all 250ms ease;

  }
  input, select, textarea {
    border: 5px solid $color--black-haze;
  }
  form .form-group:not(.form-check).has-datepicker label {
    left: 35px;
  }
  form .form-group:not(.form-check) label {
    display: block;
    position: absolute;
    top: 26px;
    right: 0;
    left: 50px;
  }
  .submit--btn {
    @include media-breakpoint-up(xl){
      position:absolute;
      right: 20px;
      bottom: 20px;
    }
  }

  .form-check-input {
    min-height: 0;
    margin-left: -13px;
  }
  .form-check {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 35px;
  }
  form h3 {
    margin-top: 80px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  :focus + label,
  .has-content + label {
    top: 8px !important;
    padding-bottom: 0;
    @include fontSize(16);
    opacity: .75;
  }
}
