.nav-subpage {
  display: flex;
  align-items: end;
  padding-top: 30px;
  ul {
    width: 100%;
  }
  ul, li {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-image: none;
    list-style-type: none;
    padding-bottom: 5px;
    a {
      letter-spacing: 0.2em;
    }
  }
  @include media-breakpoint-down(lg) {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid gray;
    margin-bottom: 20px;
  }

}


.main-nav {
  background: $color--mine-shaft;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  ul {
    margin: 0;
  }
  &--logo {
    z-index: 2;
  }
}
.lang-nav {
  position:absolute;
  right: 50px;
  z-index: 2;
  @include media-breakpoint-up(xl) {
    position: relative;
    right: auto;
  }
}
/* Menü Mobil */

.navbar-toggler.hamburger {
  position: absolute;
  right: -.75rem;
  z-index: 1002;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.smaller .navbar-toggler.hamburger {
  top: 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
// Medium devices (tablets, 768px and up)
// Large devices (desktops, 992px and up)
@media (min-width: 1549px) {
  .hamburger {
    display: none;
    visibility: hidden;
  }
}
/* Hamburger Menu */
.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 30px;
  height: 2px;
  background-color: $color--white;
  border-radius: 5px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.frontpage .hamburger-inner,
.frontpage .hamburger-inner::after,
.frontpage .hamburger-inner::before {
  background-color: $color--white;
}

.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger .hamburger-inner {
  top: 4px;
  left: 0;
}

.hamburger .hamburger-inner::before {
  top: 10px;
}

.hamburger .hamburger-inner::after {
  top: 20px;
}

.hamburger.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
.main-nav--list {
  display: flex;
  justify-content: flex-start;
  padding-top: 130px;
  @include media-breakpoint-up(md){
    padding-top: 0;
    justify-content: space-between;
  }
  width: 100%;
  li ul {
    display: none;
    position: absolute;
    z-index: 100;
    background: $color--mine-shaft;
    margin: 0 -5px;
    li:last-child {
      padding-bottom: 20px;
    }
    li {
      padding: 20px 20px 0;
    }
  }
  li:hover ul {
    display: block;
  }

}
@media screen and (max-width:1549px) {
  .main-nav--list {
    display: flex;
    justify-content: flex-start;
    padding-top: 130px !important;
    @include media-breakpoint-up(md){
      padding-top: 0 !important;
      justify-content: space-between;
    }
    width: 100%;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    position: absolute;
    left: 15px;
    height: 100vh;
    top: 0;
    z-index: 1;
    background: $color--mine-shaft;
  }
  .menu-item-has-children {
    position: relative;
    &:hover{
      &::after{

        margin-left: 100px;
      }
    }
    &:after {
      content: "";
      margin: 0 0.5em;
      display: inline-block;
      border: 7px solid transparent;
      border-top: 8px solid $color--white;
      border-bottom: 0 none;
      position: absolute;
      top: 25px;
      margin-left: 40px;


    }
  }

  .main-nav--list {
    li {
      padding: 15px;

      ul {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    display: none;
    transition: all 0.5s ease;
  }


  .main-nav--list.collapse {
    display: none;
    transition: all 0.5s ease;
  }

  .main-nav--list.show {
    display: flex;
    transition: all 0.5s ease;
  }
}
.navbar {
  width: 100%;
}