.gallery {
  img {
    max-height: 600px;
    object-fit: cover;
  }
}
.gallery-nav {
  padding-top: 30px;
  img {
    max-height: 220px;
    object-fit: cover;
  }
}
.slick-next, .slick-prev {
  z-index: 1;
  top: calc(50% + 15px);

}
.slick-prev::before, .slick-next::before {
  content: "";
  border-color: $color--mine-shaft;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-top: 3px solid $color--mine-shaft;
  border-right: 3px solid $color--mine-shaft;
  z-index: 1;
}
.slick-next::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.impressionen__img2 {
  margin-bottom: 30px;
  margin-top: 30px;
  @include media-breakpoint-up(md){
    margin-top: -50px;
  }
}
.impressionen__img1 {
  margin-top: 50px;
}
.gallery-caption {
  @include fontStack('Playfair Display', 400, 40, 70, 120);
  color: $color--white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  .small {
    @include fontStack('Proxima Nova', 400, 18, 23, 200);
    display: block;
  }
}
.gallery-item {
  padding-bottom: 15px;
  padding-top: 15px;
  .gallery-caption {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
    position: absolute;
    top: 15px;
    left: 15px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: $color--mine-shaft--transparent;
  }
  img {
    width: 100%;
  }
}
.gallery-item:hover {
  .gallery-caption {
    visibility: visible;
    opacity: 1;

  }
}